.space {
    padding-top: 125px;
}

.space1 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.text1 {
    color: rgba(255, 136, 52, 1);
}

.text2 {
    text-align: center;
    /* padding-top: 20px; */
    padding-bottom: 39px;
}

.Butsub {
    text-align: center;
    position: relative;
    padding-right: 186px;
    padding-left: 186px;
    background-color: rgba(55, 63, 65, 1);
    border: rgba(55, 63, 65, 1);
}

.space2 {
    padding-top: 30px;
}

.space3 {
    margin-bottom: 10px;
}

.text3:hover {
    color: blue;
}

.ButDaf {
    background-color: rgba(55, 63, 65, 1);
    border: rgba(55, 63, 65, 1);
}

input[type=password] {
    /* border: 2px solid rgba(255, 136, 52, 1); */
    border-radius: 4px;
}

input[type=number] {
    /* border: 2px solid rgba(255, 136, 52, 1); */
    border-radius: 4px;
}

input[type=file] {
    border: 2px solid rgba(255, 136, 52, 1);
    border-radius: 4px;
}